html {
  height: 100%;
  background-image: url('cute-cat-pattern.jpg');
}
body {
  font: normal normal 18px/16px 'Open Sans', sans-serif;
  background-color: #ffffff;
  background-repeat: repeat;
  min-height: 100%;
  background: transparent;
}

.title {
  margin-top: 50px;
  font-size: 3em;
  text-align: center;
  line-height: 1em;
  color: #cb8e53;
  text-shadow:
    /* Outline */ -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff,
    0 2px 0 #ffffff, 0 -2px 0 #ffffff;
}

.frame {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  border-radius: 5px;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0);
  font-size: 20px;
  border-radius: 5px;
}

/* Todo list */

form {
  display: inline-block;
}

input,
select,
textarea {
  font-size: 80%;
  border-radius: 6px;
  padding: 4px 15px 4px 5px;
  width: 100%;
}

#button {
  display: inline-block;
  background-color: #cb8e53;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
  ul {
    padding-left: 20px;
  }
  ul li {
    padding: 5px;
    color: #cb8e53;
  }
  ul li:nth-child(even) {
    background-color: #ffffff;
  }
  .strike {
    text-decoration: line-through;
  }
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #000000;
  font-weight: 800;
}

ul {
  line-height: 150%;
}

/* Cat API */

#new-cat-btn {
  margin-top: 40px;
}
#img-box {
  margin-top: 20px;
  border: white 1px solid;
}

/* #info-text {
  margin-top: 20px;
  max-width: 30%;
  display: flexbox;
  column-count: 3;
  justify-content: center;
  align-items: center;
} */

/* Pomodoro timer */

#app {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 20px auto;
}

#app h1 {
  font-size: 4em;
  text-align: center;
  line-height: 1em;
  color: #cb8e53;
  text-shadow:
    /* Outline */ -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff,
    0 2px 0 #ffffff, 0 -2px 0 #ffffff;
}

#app h4 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

#app button {
  margin-bottom: 7px;
  background-color: #cb8e53;
  border-radius: 12px;
}
