/* @supports (padding: max(0px)) {
  // for iOS fullscreen
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
} */

// hide scrollbar
::-webkit-scrollbar {
  width: 0; // Remove scrollbar space
  background: transparent; // Optional: just make scrollbar invisible
}
/* // Optional: show position indicator in red
::-webkit-scrollbar-thumb {
  background: #FF0000;
} */
.container {
  scrollbar-height: none; // Firefox 
  -ms-overflow-style: none; // Internet Explorer 10+ 
}
.container::-webkit-scrollbar {
  // WebKit 
  width: 0;
  height: 0;
}

/* div {
  //-ms-overflow-style: none;  Edge, Internet Explorer
  scrollbar-width: none; // Firefox
  overflow-y: scroll;
}

// hides scrollbars while allowing to scroll
div::-webkit-scrollbar {
  display: none; // Chrome, Safari, Opera
} */

html {
  overflow: scroll;
  overflow-x: hidden;
  touch-action: pan-y;
  height: 100%;
  background-image: url('cute-cat-pattern.jpg');
}

body {
  touch-action: pan-y;
  min-height: 100%;
  background-color: #000000;
  background-repeat: repeat;
  background: transparent;
  font: normal normal 18px/16px 'Open Sans', sans-serif;
}

.element {
  height: env(safe-area-inset-top);
  width: env(safe-area-inset-left);
  margin: env(safe-area-inset-right);
  // you can also use fallback values
  padding: env(safe-area-inset-bottom, 20px);
}

.title {
  font-size: 2em;
  text-align: center;
  line-height: 1em;
  color: #cb8e53;
  text-shadow:
    /* Outline */ -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff,
    0 2px 0 #ffffff, 0 -2px 0 #ffffff;
}

.frame {
  /* margin-top: 40px; */
  padding: 20px;
  width: 350px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  border-radius: 12px;
}

.container {
  width: 300px;
  margin: 0 auto;
  margin-top: 0px;
  /* background: rgba(255, 255, 255, 0); */
  font-size: 20px;
  border-radius: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Todo list */

form {
  display: inline-block;
}

input,
select,
textarea {
  font-size: 80%;
  border-radius: 6px;
  padding: 4px 15px 4px 5px;
  width: 100%;
}

#button {
  display: inline-block;
  background-color: #cb8e53;
  color: #ffffff;
  border-radius: 12px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
  ul {
    padding-left: 20px;
  }
  ul li {
    padding: 5px;
    color: #cb8e53;
  }
  ul li:nth-child(even) {
    background-color: #ffffff;
  }
  .strike {
    text-decoration: line-through;
  }
}

li {
  line-height: 1.5em;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #000000;
  font-weight: 800;
}

ul {
  line-height: 150%;
}

.img-box img {
  /* margin-top: 20px; */
  border: white 2px solid;
  border-radius: 12px;
  overflow: hidden;
}

/* Pomodoro timer */

#app {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 20px auto;
}

#app h1 {
  font-size: 4em;
  text-align: center;
  line-height: 1em;
  color: #cb8e53;
  text-shadow:
    /* Outline */ -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff,
    0 2px 0 #ffffff, 0 -2px 0 #ffffff;
}

#app h4 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

#app button {
  margin-bottom: 7px;
  background-color: #cb8e53;
  border-radius: 12px;
}